.related-fiis {
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 20px;
    h1 {
        font-weight: bold;
    }

    ul {
        li {
            padding: 10px;
            font-size: 100%;
        }
    }
}